<%include ../partials/header.ejs %>

<div class="container">
    <% if(localUser && localUser.isAdmin){ %>
    <h1>You are an Admin</h1>
    <% } %>
    <header class="jumbotron">
        <div class="container">
            <h1>Campgrounds</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new Campground</a>
            </p>
        </div>
    </header>
    <div class="row text-center" id="campground-grid">
        <% camps.forEach((camp)=>{ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="<%=camp.image%>" alt="<%=camp.name%>">
                <div class="card-body">
                    <h4 class="card-title"><%= camp.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
                </p>
                <p class="card-text"><small class="text-muted">Last updated
                        <%=moment(camp.createdAt).fromNow()%></small></p>
            </div>
        </div>
        <% }) %>
    </div>

</div>


<%include ../partials/footer.ejs%>